*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(7, 7, 20);

}
h1{
    font-family: sans-serif;
    text-align: center;
    margin-top: 150px;
    font-size: 150px;
    font-weight: 800;
    color: transparent;
    background-image: url(https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExN2R2azQxdnJibGl0eW5tMWxjZjRnNG5nbWJhd2h6Zm9ucGpzeDQ1eiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SYrMAmJZT4YcU/giphy.gif);
background-position: center;
-webkit-background-clip: text;
}
button{
    border-radius: 50%;
    box-shadow: 5 5 5;
}
.one {
    animation-delay: 0s;
}

.two {
    animation-delay: 2s;
}

.three {
    animation-delay: 3s;
}

h1 {
    opacity: 0;
    animation: showText 1s forwards;
}

/* Animation */
@keyframes showText {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}